@screens {
  mobile-vertical: (max-width: 480px) and (orientation: portrait);
  mobile-horizontal: (max-width: 844px) and (orientation: landscape);
  tablet: (max-width: 1024px);
}
/* screen-adapt: skipped selectors (already have variants)
   .hero
   .header
*/


.hero {
  width: 800px;
  font-size: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);


  @mobile-vertical {
    width: 100vw;
    font-size: 0.67em;
    display: grid;
    grid-template-columns: 1fr;
  }

  @mobile-horizontal {
    width: 95vw;
    font-size: 1.17em;
    display: grid;
    grid-template-columns: 1fr;
  }

  @tablet {
    width: 78vw;
    font-size: 1.42em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.header {
  position: relative;
  padding: 48px;


  @mobile-vertical {
    position: relative; /* check sizing */
    padding: 1.00em;
  }

  @mobile-horizontal {
    position: relative; /* check sizing */
    padding: 1.76em;
  }

  @tablet {
    position: relative; /* check sizing */
    padding: 2.13em;
  }
}